* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    height: 100vh;
    max-width: 100%;
    padding: 0 10px;
  }
   
  .sidebar-container {
    flex: 0.2;
    min-width: 350px;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .fa-twitter {
    color: #50b7f5;
    font-size: 30px;
  }
  
  .sidebar {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebar .material-icons,
  .fa-twitter {
    padding: 20px;
  }
  
  .sidebar h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebar:hover {
    background-color: #e6ecf0;
    border-radius: 30px;
    color: #50b7f5;
    transition: color 100ms ease-out;
  }
  
  .sidebar.active {
    color: #50b7f5;
  }
  
  .btn {
    width: 100%;
    background-color: #50b7f5;
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 10px;
  }
  
section{
  position: absolute;
  left: 27.3%;
  display: flex;
}

.feeds{
  flex: 0.5;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  min-width: fit-content;
}

.feeds .feeds_header{
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(101, 119, 134, 0.4);
  padding: 15px 20px;
  cursor: pointer;
  background-color: rgba(226, 233, 238, 0.4);
}
/* 
.feeds .feeds_header: */

.feeds h2{
  font-weight: 800;
  margin: 0;
  display: inline;
}

.feeds .home{
  float: right;
  cursor: pointer;
}

.feeds .home:hover{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(101, 119, 134, 0.4);
}

.user_profile{
  display: flex;
  padding: 5px;
}

.user_profile img{
  border-radius: 50%;
  height: 40px;
}

.tweet_box {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6ecf0;
  padding-right: 10px;
  display: flex;
}

.tweet_box form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.tweet_box .query{
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweet_box .icons{
  margin: 10px 0 10px;
  display: flex;
}

.tweet_box .icons span:first-child{
  margin-left: 45px;
}

.tweet_box .icons span{
  margin: 10px;
  color: rgb(29, 161, 242);
  height:35px;
  width: 35px;
  border-radius: 50%;
  position: relative;
}

.tweet_box .icons span i{
  position: absolute;
  top: 6px;
  left: 6px;
}

.tweet_box .icons span:hover{
  background-color: rgba(29, 161, 242, 0.3);
  cursor: pointer;
}

.tweet_box .tweet_btn{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #f5f8fa;
  margin-left: 135px;
  background-color: rgb(29, 161, 242);
  cursor: pointer;
}

.posts_section{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.post{
  padding: 5px;
  border-bottom: 1px solid hsl(205, 16%, 71%);
}

.post_header{
  display: flex;
}

.post_header img{
  border-radius: 50%;
  height: 40px;
}

.post_header img:nth-child(1){
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.post_header h3 {
  font-size: 15px;
  margin: 15px 0 5px 15px;
}

.post_header .handle{
  color: rgb(101, 119, 134);
}

.post_body{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
}

.post_body img{
  width: 80%;
  object-fit: contain;
  border-radius: 20px;
  margin-left: 10%;
}

.post_body p{
  line-height: 20px;
  margin: 0;
}

.post_icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  color: #1da1f2;
}

.post_icons span{
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.post_icons span i{
  position: absolute;
  top: 6px;
  left: 6px;
}

.post_icons span:first-child:hover{
  background-color: rgba(29, 161, 242, 0.5);
}

.post_icons span:nth-child(2):hover{
  color: rgb(29, 242, 82);
  background-color: rgba(29, 242, 82, 0.4);
}

.post_icons span:nth-child(3):hover{
  color: rgb(211, 18, 108);
  background-color: rgba(255, 0, 140, 0.645);
}

.post_icons span:nth-child(4):hover{
  background-color: rgba(29, 161, 242, 0.5);
}

.widget-input{
    display: flex;
    align-items: center;
    background-color: #e1e8ed;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    width: 390px;
    
    }
    .widget-input input{
        border: none;
        background-color: #e1e8ed;
        outline: none;
        color: #aab8c2;
        width: 380px;
        padding: 5px;
    }
    .material-symbols-outlined{
        color: #aab8c2;
    }
.widget-trends-container{
        width: 100%;
        background-color: #f5f8fa;
        border-radius: 8px;
        padding: 0 10px;
}
.widget-trends-section h3{
        font-size: 24px;
        font-weight: 900;
        margin: 0;
        padding: 10px;
    }
    .widget-para{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .widget-para-icon{
        color: #aab8c2;
    }
    .widd{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .widget-text p, h4{
        margin: 0;
    }
    .widget-text p{
        color:#657786;
    }
