* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
   
  .sidebar-container {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
  }
  
  .sidebar {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebar .material-icons,
  .fa-twitter {
    padding: 20px;
  }
  
  .sidebar h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebar:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebar.active {
    color: var(--twitter-color);
  }
  
  .btn {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 10px;
  }
  
.widget-input{
    display: flex;
    align-items: center;
    background-color: #e1e8ed;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 390px;
    
    }
    .widget-input input{
        border: none;
        background-color: #e1e8ed;
        outline: none;
        color: #aab8c2;
        width: 380px;
    }
    .material-symbols-outlined{
        color: #aab8c2;
    }
    .widget-trends-container{
        width: 380px;
        background-color: #f5f8fa;
        border-radius: 8px;
        padding: 10px;
        margin-top: 20px;
    }
    .widget-trends-section h3{
        font-size: 24px;
        font-weight: 900;
    }
    .widget-para{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .widget-para-icon{
        color: #aab8c2;
    }
    .widd{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .widget-text p, h4{
        margin: 0;
    }
    .widget-text p{
        color:#657786;
    }
